@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.preferences-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $mobile-spacing;

  @include tablet {
    margin: $tablet-spacing;
  }

  @include desktop {
    max-width: 63rem;
    margin: $tablet-spacing auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $mobile-spacing;
    background-color: $light-blue;
    border-radius: 12px;
    padding: $mobile-spacing;
    border: $thick-dash;
    width: 75%;

    @include tablet {
      padding: $tablet-spacing;
    }
  }

  &__title {
    text-align: center;
  }

  &__description {
    text-align: center;
    font-weight: 600;
  }

  &__btn-container {
    margin: 0 auto;
    position: relative;
    border-radius: 20px;
    background-color: $dark-blue;
  }

  &__save-btn {
    position: relative;
    top: -0.25rem;
    left: -0.25rem;
    color: $light-blue;
    border: 3.5px dashed $med-blue;
    border-radius: 20px;
    padding: 0.5rem 1.25rem;

    &:active {
      top: 0;
      left: 0;
    }
  }
}
