@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveSideToSide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(250%);
  }
  100% {
    transform: translateX(0);
  }
}
