@use "./variables" as *;
@use "./typography" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin tag-style {
  background-color: $dark-blue;
  color: $light-blue;
  font-size: 1rem;
  font-family: $body-font-stack;
  border-radius: 8px;
  padding: 0.25rem 0.5rem;
}
