@font-face {
  font-family: "Press Start 2P";
  font-weight: 400;
  src: url(/src/assets/fonts/PressStart2P-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Nine By Five";
  font-weight: 400;
  src: url(/src/assets/fonts/NineByFiveNbp-MypB.ttf) format("truetype");
}

@font-face {
  font-family: "Handjet";
  font-weight: 400;
  src: url(/src/assets/fonts/Handjet-VariableFont_ELGR\,ELSH\,wght.ttf)
    format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(/src/assets/fonts/Roboto-VariableFont_wdth\,wght.ttf)
    format("truetype");
}
