// Responsive Design Variables

$tablet-breakpoint: 768px;

$desktop-breakpoint: 1280px;

$mobile-spacing: 1rem;

$tablet-spacing: 1.5rem; // This will also be for desktop

$tablet-margin: 2rem; // Exterior Margin for tablet size

$desktop-column: 3.938rem; // Column width for desktop

// Colour Variables

$light-blue: #ddeaeb; // Darker background colour + font colour when paired with dark blue background

$med-blue: #97cad8; // Secondary Header Background colour

$dark-blue: #0493b9; // Accent colour, dark font colour & light font on dark background

$bg-light: #eaeaea; // Main body background

$beige: #e6dbc6; // Image Background colour

// Font Variables

$body-font-stack: "Handjet", "Roboto", "Helvetica", sans-serif;

$logo-font-stack: "Press Start 2P", "Roboto", "Helvetica", sans-serif;

$nav-font-stack: "Roboto", "Helvetica", "Arial", sans-serif;
