@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main-page {
  margin: $mobile-spacing;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    margin: 0 auto;
  }

  @include desktop {
    max-width: 63rem;
  }

  &__hero {
    display: flex;
    justify-content: center;
    width: 100%;

    @include tablet {
      width: 80%;
    }

    &-img {
      width: 90%;
      border: 3.5px dashed $dark-blue;
      margin: $mobile-spacing;

      @include tablet {
        margin: $tablet-spacing;
      }

      @include desktop {
        width: 40rem;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $mobile-spacing;

    @include tablet {
      width: 80%;
      margin: 0 $tablet-spacing;
      gap: $tablet-spacing;
    }

    &-title {
      text-align: center;
    }
  }
}
