@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/keyframes" as *;

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $mobile-spacing;

  @include tablet {
    margin: 0 auto;
  }

  @include desktop {
    max-width: 63rem;
  }

  &__hero {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;

    @include tablet {
      width: 80%;
    }

    &-img {
      width: 90%;
      border: $thick-dash;
      margin: $mobile-spacing;
      animation: fadeIn 2s ease-out forwards;

      @include tablet {
        width: 40rem;
      }
    }

    &-sticker {
      position: absolute;
      bottom: 2%;
      left: 2.5%;
      width: 25%;
      animation: fadeIn 1.5s ease-out forwards,
        moveSideToSide 5s ease-in-out infinite;

      @include tablet {
        width: 12rem;
        left: 15%;
        bottom: 0%;
      }

      @include tablet {
        left: 10%;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $mobile-spacing;

    @include tablet {
      width: 80%;
      margin: 0 $tablet-spacing;
      gap: $tablet-spacing;
    }

    &-title {
      text-align: center;
    }
  }

  &__btn-container {
    margin: 0 auto;
    position: relative;
    border-radius: 20px;
    background-color: $dark-blue;
  }

  &__search-btn {
    position: relative;
    top: -0.25rem;
    left: -0.25rem;
    color: $light-blue;
    border: 3.5px dashed $med-blue;
    border-radius: 20px;
    padding: 0.5rem 1.25rem;

    &:active {
      top: 0;
      left: 0;
    }
  }
}
