@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: $mobile-spacing;
  background-color: $light-blue;

  @include tablet {
    padding-top: $tablet-spacing;
  }

  &__logo {
    color: $dark-blue;
    font-size: 1.5rem;
    padding: $mobile-spacing;

    @include tablet {
      font-size: 2rem;
      padding: $tablet-spacing;
    }
  }

  &__nav {
    background-color: $med-blue;
    width: 100%;
    padding: 0.5rem $mobile-spacing;

    @include tablet {
      padding: 1rem $tablet-spacing;
    }

    &-list {
      display: flex;
      justify-content: center;
      gap: $mobile-spacing;

      @include tablet {
        gap: $tablet-margin;
      }
    }

    &-link {
      font-family: $nav-font-stack;
      color: $dark-blue;

      @include tablet {
        font-size: 1rem;
      }
    }
  }
}
