@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $mobile-spacing;
  margin: $mobile-spacing;

  @include tablet {
    margin: $tablet-spacing;
  }

  &__audio {
    height: 2rem;
  }
  &__text {
    font-family: $nav-font-stack;
    color: darkgray;
    font-size: 0.625rem;

    @include tablet {
      font-size: 0.75rem;
    }
  }
}
