@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.recipe-details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $mobile-spacing;
  margin: $mobile-spacing;
  background-color: $light-blue;
  border-radius: 12px;

  @include tablet {
    margin: $tablet-spacing;
    gap: $tablet-spacing;
  }

  @include desktop {
    max-width: 63rem;
    margin: $tablet-spacing auto;
  }

  &__header {
    text-align: center;
  }
}
